fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
httpx==0.25.2
opencv-python==4.10.0.84
python-multipart==0.0.18
python-dotenv==1.0.0
loguru==0.7.2
tencentcloud-sdk-python==3.0.1220
aiohttp==3.9.0
edge-tts==7.2.6
transformers==4.57.3
numpy<=2.3.5
huggingface_hub==0.34.0
soundfile==0.12.1
modelscope==1.14.0
librosa==0.10.2.post1
onnxruntime==1.18.1
tbb
